*{
    box-sizing: border-box;
    color: #D7B19D;
}

body{
    background-color: #C68B59;
    font-family: 'Amatic SC', cursive;
}

header{
    background-color: #865439;
    padding: 25px;
    text-align: left;
    width: 100%;
    position: fixed;
    top: 0;
    
}
h1{
    font-size: 50px;
}
header nav
{
    float: right;
    padding: 0 50px;
}

header nav ul li{
    display: inline-block;
    padding: 0 35px;
    font-size: 25px;
}
a{
    text-decoration: none;
}

#mainBGImage{
    background-image: url(../Images/salmon.png);
    background-size: contain;
    height: 475px;
    margin-top: 110px;
}

main{
    font-size: 25px;
    text-align: center;
    text-align-last: center;
}
main section{
    margin: 2%;
}
main ul{
    list-style: circle;
    list-style-position: inside;
    
}

main ul li{
    color: #402218;
    margin-left: 50px;
    font-size: 35px;
    line-height: 25px;
    padding: 1%;
}
main h3{
    margin-right: 200px;
    font-size: 60px;
}

#textContainer
{
    padding: 2%;
}

#InfoContainer
{
    position: relative;
    float:left;
    width: 55%;
    margin-top: 128px;
}
#InfoContainer div{
    padding: 5%;
}
/* form stuff */
#newLocationHolder
{
    float:right;
    display: block;
    width: 25%;
    height: 15%;
    margin: 0px 75px;
    margin-right: 10%;
    padding: 75px;
    top: 250px;
}

#newLocationHolder form
{
    display: block;
    margin: 25px;
}
#newLocationHolder form label,input
{
    display: block;
    margin: 25px;
}
#submitButton
{
    /* margin: 25px; */
    /* margin-right:256px; */
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    background-color: #865439;
}
fieldset
{
    border-color: #865439;
    border-style: solid;
}


/* main page specific */
#NewProductsList
{
    float: left;
}
#NewProductsList li
{
    text-align: left;
    display: inline-block;
}
#NewProductsList li div
{
    margin: 70px;
    padding: 15px;
}


#familySection h2{
    font-size: larger;

}

#familySection img{
    margin: 15px;
    padding: 15px;
}

#familySection button{
    border: none;
    padding: 15px 32px;
    text-align: center;
    /*text-decoration: none;*/
    display: inline-block;
    font-size: 16px;
    background-color: #865439;
}

/* footer */
footer
{
    clear: both;
    background-color: #865439;
    padding: 25px;
    margin-top: 7%;
}
footer ul li{
    margin: 5px;
    padding: 2px;
    font-size: larger;
}
/* for tables */

table, th, td {
    border: 1px solid black;
}
